{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Best Pricing Start -->
<br><br>


<div class="container text-center">
    <br><br>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}" style="color: #8f1bdc;">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'properties_page' %}"
                    style="color: #8f1bdc;">Properties</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'property_details' pro.id %}"
                    style="color: #8f1bdc;">Property</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>

    <br><br><br><br>
    <div>
        <div class="container text-center mt-3">
            <br>

            <br><br>



            <style>
                .batn {
                    background-color: #8f1bdc;
                    padding: 2px 20px;
                    border-radius: 5px;
                    border: 5px solid #8f1bdc;
                }

                .first {
                    display: flex;
                    flex-direction: column;
                    min-width: 100%;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                }



                input {
                    text-align: center;
                    font-size: medium;
                    padding: 10px;
                    margin: 10px;
                    width: 100%;
                    border: 1px solid grey;
                    border-radius: 5px;
                }

                .form-select {
                    height: 45px;
                    margin: 10px;
                    width: 100%;
                    border: 1px solid grey;
                    text-align: center;
                    font-size: medium;

                }
            </style>


            <div class="row">
                <form action="{% url 'edit_property' pro.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Property Information</h1>
                        </div>
                        <div class="col-md-12">
                            <p>Enter the basic information for this property.</p>
                        </div>
                        <br>
                        <div class="col-md-6">

                            <select class="form-select form-select-lg mb-3" name="borough" id="borough" required>
                                <option selected>Select a Borough * </option>
                                <option value="Manhattan">Manhattan</option>
                                <option value="Bronx">Bronx</option>
                                <option value="Brooklyn">Brooklyn</option>
                                <option value="Queens">Queens</option>
                                <option value="Staten Island">Staten Island</option>
                            </select>

                        </div>

                        <div class="col-md-6">
                            <input name="house_number" type="text" placeholder="House Number *"
                                value="{{ pro.house_number }}">
                        </div>

                        <div class="col-md-6">
                            <input name="street_name" type="text" placeholder="Street Name *"
                                value="{{ pro.street_name }}">
                        </div>

                        <div class="col-md-6">
                            <input name="state" type="text" placeholder="State." value="{{ pro.state}}">
                        </div>

                        <div class="col-md-6">
                            <input name="zip" Stype="text" placeholder="ZIP " value="{{ pro.zip }}">
                        </div>


                        <div class="col-md-6">
                            <input name="property_name" type="text" placeholder="Property Name"
                                value="{{ pro.property_name}}">
                        </div>



                    </div>



                    <hr>
                    <br<br>
                        <div class="row">
                            <div class="col-md-12">
                                <h1>DOB Information</h1>
                            </div>
                            <div class="col-md-12">
                                <p>Enter the information to connect to DOB complaints system.</p>
                            </div>

                            <div class="col-md-6">
                                <input name="house" type="text" placeholder="House" value="{{ pro.house }}">
                            </div>

                            <div class="col-md-6">
                                <input name="street" type="text" placeholder="Street." value="{{ pro.street }}">
                            </div>

                            <div class="col-md-6">
                                <input name="zip_code" type="text" placeholder="ZIP Code" value="{{ pro.zip_code }}">
                            </div>

                            <div class="col-md-6">
                                <input name="block" type="text" placeholder="Block" value="{{ pro.block }}">
                            </div>

                            <div class="col-md-6">
                                <input name="lott" type="text" placeholder="Lot" value="{{ pro.lott }}">
                            </div>



                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input name="bin_number" type="text" placeholder="BIN *" required
                                            value="{{ pro.bin_number}}">
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            don't have bin number?
                                            <br> <a href="{% url 'property_search_page' %}"
                                                style="color: #8f1bdc;">click here to find it now
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <hr>
                        <br<br>

                            <div class="row text-center align-items-center">
                                <div class="col-md-12">
                                    <h1>Contact Information</h1>
                                </div>
                                <div class="col-md-12">
                                    <p>Want to receive alerts on more devices ?. You can now add upto 3 additional
                                        contacts. your primary
                                        contact is the one you are registered with.</p>
                                </div>
                            </div>
                            <div class="row text-center" style="padding-left: 18%;">


                                <div class="col-md-3 col-sm-3">
                                    <input type="text" name="fname" placeholder="First Name" id=""
                                        value="{{ pro.fname}}">
                                    <input type="text" name="lname" placeholder="Last Name" id=""
                                        value="{{ pro.lname}}">
                                    <input type="email" name="email" placeholder="Email" id="" value="{{ pro.email}}">
                                    <input type="tel" name="phone" placeholder="Phone" id="" value="{{ pro.phone}}">
                                </div>


                                <div class="col-md-3 col-sm-3">
                                    <input type="text" name="fname1" placeholder="First Name" id=""
                                        value="{{ pro.fname1}}">
                                    <input type="text" name="lname1" placeholder="Last Name" id=""
                                        value="{{ pro.lname1}}">
                                    <input type="email" name="email1" placeholder="Email" id="" value="{{ pro.email1}}">
                                    <input type="tel" name="phone1" placeholder="Phone" id="" value="{{ pro.phone1 }}">
                                </div>


                                <div class="col-md-3 col-sm-3">
                                    <input type="text" name="fname2" placeholder="First Name" id=""
                                        value="{{ pro.fname2}}">
                                    <input type="text" name="lnam2e" placeholder="Last Name" id=""
                                        value="{{ pro.lname2}}">
                                    <input type="email" name="email2" placeholder="Email" id="" value="{{ pro.email2}}">
                                    <input type="tel" name="phone2" placeholder="Phone" id="" value="{{ pro.phone2}}">
                                </div>

                            </div>
                            <hr>
                            <div class="col-md-12">
                                <button type="submit" class="batn">
                                    <h1
                                        style="border-radius: 5px; padding: 10px 10px 5px 10px; font-size: medium; color: white; background-color: #8f1bdc;">
                                        Update Property</h1>
                                </button>
                            </div>
                </form>


            </div>
        </div>
    </div>
</div>


{% endblock %}