{% extends 'base.html' %}
{% load static %}

{% block content %}



<style>
    .modal.modal-fullscreen .modal-dialog {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    .modal.modal-fullscreen .modal-content {
        height: auto;
        height: 100vh;
        border-radius: 0;
        border: none;
    }

    .modal.modal-fullscreen .modal-body {
        overflow-y: auto;
    }


    .batn {
        background-color: #8f1bdc;
        padding: 2px 20px;
        border-radius: 5px;
        border: 5px solid #8f1bdc;
    }

    .add-contacts {
        margin-left: 18%;
    }

    .contact-details {
        border: none;
        border-radius: 5px;
        margin: 2px;
    }


    .contact-details-last {
        border: none;
        border-radius: 5px;
        margin: 2px;
    }

    .labled {
        font-weight: bold;
    }

    .close {
        margin-right: 20px !important;
        color: #8f1bdc;
    }

    .btn {
        margin-right: 40px !important;
        padding: 15px 20px 15px 20px;
    }
</style>


<div class="container text-center" style="color: #2b044d; min-width: 100%;">

    <br>
    <br><br>
    <br>



    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'home' %}"
                    style="color: #8f1bdc;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Properties</li>
        </ol>
    </nav>






    <br><br><br><br>
    <h1 style="text-align:center;">Your Current Properties </h1>
    <br><br><br><br>


    <div class="row" style=" height: max-content;">


        {% if properties %}
        <div class="table-responsive">
            <table style=" color: #8f1bdc;" class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Borough</th>
                        <th scope="col">House Number</th>
                        <th scope="col">Street Name</th>
                        <th scope="col">Property Name</th>
                        <th scope="col">BIN</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Open</th>


                    </tr>
                </thead>
                <tbody>
                    {% for pro in properties %}
                    <tr>
                        <td>{{ pro.borough }}</td>
                        <td>{{ pro.house_number }}</td>
                        <td>{{ pro.street_name }}</td>
                        <td>{{ pro.property_name }}</td>
                        <td>{{ pro.bin_number }}</td>


                        <td><a href="{% url 'edit_property_page' pro.id %}" type="button"
                                style="color: #8f1bdc; padding: 3px 15px; border-radius: 5px;"><i
                                    class="far fa-1x fa-edit"></i></a>
                        </td>
                        <td><a href="{% url 'delete_street_property' pro.id %}" type="button"
                                style="color: #8f1bdc; padding: 3px 15px; border-radius: 5px;"><i
                                    class="far fa-1x fa-trash-alt"></i></a>
                        </td>
                        <td><a href="{% url 'property_details' pro.id %}" type="button"
                                style="background-color: #8f1bdc; padding: 3px 15px; border-radius: 5px;">
                                Open</a>
                        </td>

                        <!-- <td><button type="button"
                                style="background-color: #8f1bdc; padding: 3px 15px; border-radius: 5px; border: none;"
                                data-toggle="modal" data-target="#exampleModal{{pro.id}}">
                                View
                            </button></td> -->


                    </tr>






                    <!-- Modal -->
                    <div class="modal fade  modal-fullscreen" id="exampleModal{{pro.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">

                                        <a href="" style="text-decoration: underline;"> Complaints </a><span
                                            style="background-color: #8f1bdc; color: #ffff; padding: 5px 10px 5px 10px ; border-radius: 5px; margin-right: 20px;">{{pro.complaints.count}}</span>

                                        <a href="" style="text-decoration: underline;"> Voilations</a> <span
                                            style="background-color: #8f1bdc; color: #ffff; padding: 5px 10px 5px 10px ; border-radius: 5px;">{{pro.voilations.count}}</span>

                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">



                                    <div class="container" style="width: 100%;">
                                        <div class="row">
                                            <div class="col-md-6" style="border: none; border-right: 1px solid #2b044d">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Property Information</h3>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">


                                                    <div class=" col-md-6 col-sm-6" style="text-align: start;">
                                                        <p><span class="labled">Property Name:</span>
                                                            {{pro.property_name}}</p>

                                                    </div>

                                                    <div class="col-md-6 col-sm-6" style="text-align: start;">
                                                        <p><span class="labled">Job Name:</span>
                                                            {{pro.job_name}}</p>

                                                    </div>

                                                    <div class="col-md-6 col-sm-6" style="text-align: start;">

                                                        <p><span class="labled">State:</span> {{ pro.state }}</p>
                                                    </div>


                                                    <div class="col-md-6 col-sm-6" style="text-align: start;">
                                                        <p><span class="labled">Zip:</span> {{ pro.zip }}</p>

                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>DOB Information</h3>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">

                                                    <div class="col-md-6">

                                                        <p><span class="labled">Borough:</span> {{ pro.borough }}
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><span class="labled">BIN:</span> {{ pro.bin_number }}
                                                        </p>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><span class="labled">Block:</span> {{ pro.block }}</p>

                                                    </div>

                                                    <div class="col-md-6">
                                                        <p><span class="labled">Lot:</span> {{ pro.lott }}</p>

                                                    </div>

                                                    <div class="col-md-6">
                                                        <p><span class="labled">House:</span> {{ pro.house }}
                                                        </p>

                                                    </div>

                                                    <div class="col-md-6">
                                                        <p><span class="labled">Street:</span> {{ pro.street }}
                                                        </p>

                                                    </div>





                                                </div>

                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <br>
                                                <br>

                                                <hr>

                                                <h3> Additional Contacts</h3>

                                                <hr>

                                                <div class="row add-contacts" style="text-align: start;">
                                                    <div class="col-md-3 col-sm-3 contact-details">
                                                        <p style="font-weight: bold;">First Contact</p>

                                                        <p>{{ pro.fname }}</p> <br>
                                                        <p>{{ pro.lname}}</p> <br>
                                                        <p>{{ pro.email}}</p> <br>
                                                        <p>{{ pro.phone}}</p>
                                                    </div>


                                                    <div class="col-md-3 col-sm-3 contact-details">
                                                        <p style="font-weight: bold;">Second Contact</p>

                                                        <p>{{ pro.fname1 }}</p> <br>
                                                        <p>{{ pro.lname1}}</p> <br>
                                                        <p>{{ pro.email1}}</p> <br>
                                                        <p>{{ pro.phone1}}</p>

                                                    </div>


                                                    <div class="col-md-3 col-sm-3 contact-details-last">
                                                        <p style="font-weight: bold;">Third Contact</p>

                                                        <p>{{ pro.fname2 }}</p> <br>
                                                        <p>{{ pro.lname2}}</p> <br>
                                                        <p>{{ pro.email2}}</p> <br>
                                                        <p>{{ pro.phone2}}</p>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif %}

    </div>

</div>
<br>
<br>
<br><br>
{% endblock %}