{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .for-border {
        border: none;
        border-bottom: 2px solid grey;
    }
</style>


<div class="container text-center" style="color: #2b044d;">

    <br><br>
    <br><br>



    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}" style="color: #8f1bdc;">Home</a>
            </li>


            <li class="breadcrumb-item active" aria-current="page">Complaints</li>
        </ol>
    </nav>
    <br>
    <br><br>


    <div class="accordion" id="accordionExample">

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a style="text-decoration: underline; color: #8f1bdc; cursor: pointer;" class="btn-link collapsed"
                        type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Active Complaints <span style="color: #2b044d;"> ({{ act_complaints.all.count}}) </span>
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="accordion text-center" id="accordionExamplecomplaints">


                        {% for i in act_complaints %}

                        <div class="row text-center mx-auto" style="min-width: 100%;">
                            <div class="card text-center max-auto" style="min-width: 100%;">
                                <div class=" card-header" id="headingTwo{{i.id}}">
                                    <h5 class="mb-0">
                                        <a style="text-decoration: underline; color: #8f1bdc; cursor: pointer;"
                                            class="btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo{{i.id}}" aria-expanded="false"
                                            aria-controls="collapseTwo{{i.id}}">
                                            Complaint location: {{ i.complaint_adress}}

                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo{{i.id}}" class="collapse" aria-labelledby="headingTwo{{i.id}}"
                                    data-parent="#accordionExamplecomplaints">
                                    <div class="card-body">

                                        <div class="table-responsive">
                                            <table style=" color: #8f1bdc;" class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Number</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Inspection Date</th>
                                                        <th scope="col">Deposition</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td> <a style="text-decoration: underline; color: #2b044d;"
                                                                target="_blank" href="{{i.complaint_link}}">
                                                                {{ i.complaint_number }}</a>
                                                        </td>
                                                        <td>{{ i.complaint_date }}</td>
                                                        <td>{{ i.complaint_category }}</td>
                                                        <td>{{ i.complaint_inspection_date }}</td>
                                                        <td>{{ i.complaint_deposition }}</td>
                                                        <td>{{ i.complaint_status }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" colspan="5">{{ i.complaint_details }}</td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>


        <br><br>
        <hr><br><br>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <a style="text-decoration: underline; color: #8f1bdc; cursor: pointer;" class="btn-link collapsed"
                        type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        Resolved Complaints <span style="color: #2b044d;"> ({{ res_complaints.all.count}})
                        </span>

                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="accordion text-center" id="accordionExamplerescomplaints">


                        {% for i in res_complaints %}

                        <div class="row text-center mx-auto" style="min-width: 100%;">
                            <div class="card text-center max-auto" style="min-width: 100%;">
                                <div class="card-header" id="headingThree{{i.id}}">
                                    <h5 class="mb-0">
                                        <a style="text-decoration: underline; color: #8f1bdc; cursor: pointer;"
                                            class="btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseThree{{i.id}}" aria-expanded="false"
                                            aria-controls="collapseThree{{i.id}}">
                                            Complaint location: {{ i.complaint_adress}}

                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree{{i.id}}" class="collapse" aria-labelledby="headingThree{{i.id}}"
                                    data-parent="#accordionExamplerescomplaints">
                                    <div class="card-body">

                                        <div class="table-responsive">
                                            <table style=" color: #8f1bdc;" class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Number</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Inspection Date</th>
                                                        <th scope="col">Deposition</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td> <a style="text-decoration: underline;  color: #2b044d;"
                                                                target="_blank" href="{{i.complaint_link}}">
                                                                {{i.complaint_number }}</a>
                                                        </td>
                                                        <td>{{ i.complaint_date }}</td>
                                                        <td>{{ i.complaint_category }}</td>
                                                        <td>{{ i.complaint_inspection_date }}</td>
                                                        <td>{{ i.complaint_deposition }}</td>
                                                        <td>{{ i.complaint_status }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" colspan="5">{{ i.complaint_details }}</td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<br>
<br>
<br><br>
{% endblock %}